#page-orphanage {
  display: flex;
  min-height: 100vh;
}

main {
  flex: 1;
}

.orphanage-details {
  background: white;
  border: 1px solid rgb(211, 226, 229);
  border-radius: 2rem;
  margin: 6.4rem auto;
  overflow: hidden;
  width: 70rem;
}

.orphanage-details > img {
  height: 30rem;
  object-fit: cover;
  width: 100%;
}

.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.6rem;
  margin: 16px 40px 0;
}

.images button {
  background: none;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  height: 8.8rem;
  opacity: 0.6;
  outline: none;
  overflow: hidden;
  transition: 0.2s;
}

.images button:focus {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.images button:hover, .images button.active {
  opacity: 1;
  transform: scale(1.1);
}

.images button img {
  height: 8.8rem;
  object-fit: cover;
  width: 100%;
}

.orphanage-details-content {
  padding: 8rem;
}

.orphanage-details-content h1 {
  color: rgb(77, 111, 128);
  font-size: 5.4rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.orphanage-details-content p {
  color: rgb(92, 133, 153);
  line-height: 1.6;
  margin-top: 2.4rem;
}

.orphanage-details-content hr {
  background: rgb(211, 226, 230);
  border: none;
  height: 1px;
  margin: 6.4rem 0;
  width: 100%;
}

.orphanage-details-content h2 {
  color: rgb(77, 111, 128);
  font-size: 3.6rem;
  line-height: 1.5rem;
}

.open-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  line-height: 1.5;
  margin-top: 2.4rem;
}

.open-details div {
  border-radius: 20px;
  padding: 3.2rem 2.4rem;
}

.open-details img {
  display: block;
  margin-bottom: 2rem;
}

.open-details .hour {
  background: linear-gradient(149.97deg, rgb(230, 247, 251) 8.13%, white 92.67%);
  border: 1px solid rgb(179, 218, 226);
  border-radius: 20px;
  color: rgb(92, 133, 153);
}

.open-details .open-weekends {
  border-radius: 20px;
}

.open-on-weekends.open {
  background: linear-gradient(154.16deg, rgb(237, 255, 246) 7.85%, white 91.03%);
  border: 1px solid rgb(161, 233, 197);
  color: rgb(55, 199, 127);
}

.open-on-weekends.closed {
  background: linear-gradient(154.16deg, rgb(252, 240, 244) 7.85%, white 91.03%);
  border: 1px solid rgb(255, 188, 212);
  color: rgb(255, 153, 157);
}
